.container {
    padding: 20px 10px;
    display: flex;
    column-gap: 25px;
}

.flex {
    display: flex;
}

.text_container {
    width: 65%;
}

.ml {
    margin-left: 10px;
    padding-left: 10px;

    border-left: solid 1px black;
}

.flex_space_between {
    display: flex;
    justify-content: space-between;
}

.circle {
    width: 75%;
    position: absolute;
    height: 100%;
    border: 1px rgba(128, 128, 128, 0.2) solid;
    border-radius: 50%;
}

.date {
    margin-bottom: 0px;
}

.flex_middle {
    display: flex;
    align-items: center;
    gap: 5px;
}

.circle_container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}